<body>
  <h1>WELCOME TO THE <br> GARAGE</h1>
  <h2>GARAGE</h2>
<h3>A garage is a covered structure built for the purpose of parking, storing, protecting, maintaining, and/or repairing vehicles. Specific applications include:

    Garage (residential), a building or part of a building for storing one or more vehicles
    Automobile repair shop, also called a garage, where vehicles are serviced and repaired
    Bus garage, a building or complex used for storage of buses when not in use
    Filling station, an automotive service station where vehicles take on fuel or recharge
    Multistorey car park, or parking garage, a building serving as a public parking facility</h3>
    <img  src="https://cdna.artstation.com/p/assets/images/images/039/449/418/large/rahul-dey-screenshot00013.jpg?1662747141" height="500%" width="90%"><br>
    <h4>
    A garage is a one-stop shop for all automotive repairs. Mechanics have to be very knowledgeable about the workings of different makes and models of cars and an in depth understanding of how they work. Garages are the go-to place if you have any questions about your car’s performance; if you need advice about motoring matters; if you know that there is something wrong with your car and you need it fixed or if your vehicle is due a service 
  </h4>
  </body>
  <footer> 
    SERVICE<br>
Warranty<br>
Safety<br>
Manuals<br>
Maintenance<br>
Service & Safety Check<br>
Freeride E Hotline<br>
Spare Parts Finder<br>
</footer>

