h1{
    background-color:lightseagreen;
    text-align: center;
}
h2{
    text-decoration: underline;
    text-decoration-color: black;
}
h3{
    font-style: italic;
}
h4{
    font-style: italic;
}
footer{
    text-align: center;
    background-color: grey;
}